* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #033009;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}




.container {
  background: white;
  width: 800px;
  padding: 100px;
  border-radius: 20px;
  text-align: center;
}


.image-box {
  width: 80px;
  height: 50px;
  background: #e5e5e5;
  border-radius: 15px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
}


h2 {
  color:#033009;
  margin-bottom: 15px;
}

.desc {
  font-size: 13px;
  color: gray;
  margin-bottom: 20px;
}

.small {
  font-size: 12px;
  margin-top: 15px;
}


input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}


button {
  width: 100%;
  padding: 10px;
  background:#033009 ;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}




a {
  color: #033009;
  text-decoration: none;
}

.forgot {
  font-size: 11px;
}


.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
  margin: 8px 0;
}




.logout-container {
    background: #033009;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.logout-container h2 {
    margin-bottom: 15px;
}

.logout-container p {
    margin-bottom: 25px;
    color:#033009 ;
}

.login-btn {
    padding: 10px 25px;
    background-color: 3;
    color:#033009 ;
    text-decoration: none;
    border-radius: 5px;
}




